*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E5E5E5;
}

/* ----------------
    Common Styles
---------------- */
.container{
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}
.default-margin{
    margin-top: 50px;
}
.common-section{
    background-color: #fff;
    border-radius: 10px;
}
.section-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}
.horizontal-line{
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #D1D1D1;
    border-bottom: none;
}


/* -----------------
    Header Section
----------------- */
header{
    background: #562EFF;
}
.header{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.header .left-header{
    display: flex;
    gap: 15px;
    align-items: center;
}
.left-header > img{
    width: 40px;
    height: 50px;
}
.left-header .header-title{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.header .right-header{
    display: flex;
    gap: 20px;
}
.right-header ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.right-header ul > li{
    list-style: none;
}
.right-header ul > li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}
.right-header > img{
    max-width: 50px;
    max-height: 50px;
}


/* ---------------------
    Top Player Section
--------------------- */

.top-player-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.top-player-container .top-player-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.top-player-content > img{
    width: 50px;
    height: 50px;
}
.top-player-content > h3{
    font-weight: 500;
    color: rgb(0, 0, 0);
}

/* ---------------------
    Top Blog Section
--------------------- */
.blog-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.blog-container .blog-content{
    display: flex;
    gap: 15px;
}
.blog-content .blog-img > img{
    width: 150px;
}
.blog-content .blog-details > h2{
    font-weight: 500;
    font-size: 20px;
}
.blog-content .blog-details > p{
    font-weight: 400;
    color: #562EFF;
}
.blog-content .blog-details .secondary-text{
    color: #9F9F9F; 
}




/* --------------------
    Resoinsive Design
-------------------- */

/* Media Query < 576px */
@media screen and (max-width: 576px) {
    .left-header > img{
        width: 30px;
        height: 40px;
    }
    .header .right-header{
        flex-direction: column-reverse;
    }
    .right-header ul{
        flex-direction: column;
    }


    .top-player-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-container .blog-content{
        flex-direction: column;
    }
}